{%  extends 'adminpanel/adminbase.html' %}

{% load static %}
{% block extracss %}
<style>

</style>
    {% endblock extracss %}
{% block content %}
<div class="text-center mx-auto mt-2"  style="min-width: 22rem;"></div>

<div class="container mt-3" style="min-height: 33rem;">
  <h2 class="text-center text-dark  mb-5">Sub Categories</h2>
  <div class="d-flex justify-content-between">
    <input class="form-control w-50 mx-auto mb-3" type="search" placeholder="Search" aria-label="Search" id="myInput">
    <div><a href="{% url 'addSubCategory' category_slug %}"><button class="btn btn-warning btn-sm mt-1"><i class="fas fa-plus mr-2"></i>Add Sub Category</button></a></div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Sub Category Name</th>
        <th>Description</th>
        <th>Is_featured</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody id="myTable">
      
      {% for subCategory in subCategories %}

      <tr style="height: 50px !important;" class="text-wrap">
        <th scope="row">{{subCategory.sub_category_name}}</th>
        <td>{{subCategory.description}}</td>
        <td>{{subCategory.is_featured}}</td>
        <td>
          <div class="pro-img-overlay"><a href="{% url 'editSubCategory' subCategory.slug %}" ><button class="btn btn-warning btn-sm mt-1"><i class="fas fa-edit text-warning"></i>edit</button></a>
          </div> 
          
        </td>
        <td>
          <div class="pro-img-overlay"><a href="" onclick="return confirm('Are you sure to delete {{subCategory.sub_category_name}}?')">
            <i class="fas fa-trash-alt text-danger"></i></a>
            <div class="pro-img-overlay"><a href="{% url 'deleteSubCategory' subCategory.slug %}" ><button class="btn btn-warning btn-sm mt-1"><i class="fas fa-edit text-warning"></i>Delete</button></a>
            </div> 
          </div>
        </td>
      </tr>
        
      {% endfor %}
        
    </tbody>
  </table>
</div>

<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>
{% endblock content %}