{%  extends 'base.html' %}

{% load static %}


{% block extracss %}

<style>

    .lk{
        margin-bottom: 300px;
    }
</style>

    {% endblock extracss %}

{% block content %}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shopping Cart</h4>
                    <div class="breadcrumb__links">
                        <a href="./index.html">Home</a>
                        <a href="./shop.html">Shop</a>
                        <span>Shopping Cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shopping Cart Section Begin -->
{% if not cart_items %}

  <div class="mt-5 lk" >
    <h2 class="text-center">Your Cart is Empty!!!</h2>
    <div class="text-center m-5">
      <a href="{% url 'etc' %}" class="btn btn-dark">Continue Shopping</a>
    </div>
  </div>

{% else %}
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="shopping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cart_item in cart_items %}
                            <tr>
                                <td class="shoping__cart__item">
                                    <div class="d-md-flex">
                                        <img  src="{{cart_item.product.image_1.url}}" height="100px" alt="">
                                        <div class="mt-3 me-3">
                                            <a href="{{cart_item.product.get_url}}"><h5><b>{{cart_item.product.product_name}}</b></h5></a>
                                           
                                            <p class="text_muted">
                                                
                                                {% if cart_item.variations.all %}
                                                    {% for item in cart_item.variations.all %}
                                                        {{item.variation_category | capfirst }} : {{item.variation_value}} <br>

                                            </p>
                                        </div>
                                    </div>
                                </td>
                               
                                <td class="product-quantity">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <a href="{% url 'decrement_cart_item' cart_item.id %}"
                                            class="btn btn-secondary">-</a>
                                        <button type="button"  class="btn btn-dark">{{cart_item.quantity}}</button>
                                       
                                        <a href="{% url 'increment_cart_item' cart_item.id %}"
                                            class="btn btn-secondary"><i ></i>+</a>
                                    </div>
                                </td>
                                {% endfor %}
                                {% endif %}
                                
                        
                        <td class="total" id="total{{forloop.counter}}"> ₹{{cart_item.sub_total}} </td>
                        <td class="product-close ">
                          <button type="button" style="border:none; background-color:transparent;"  data-toggle="modal" data-target="#removeModal{{ cart_item.id }}"><i class="fa fa-close"></i>
                            
                          </button>
                        
                          <!-- Remove item confirmation modal -->
                          <div class="modal fade" id="removeModal{{ cart_item.id }}" tabindex="-1" role="dialog" aria-labelledby="removeModal{{ cart_item.id }}Label" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="removeModal{{ cart_item.id }}Label">Remove Item</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  Are you sure you want to remove "{{ cart_item.product.product_name }}" from your cart?
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                  <form action="{% url 'remove_cart_item' cart_item.product.id cart_item.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Remove</button>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                               
                               
                            </tr>
                            
                            
                            
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="primary-btn" >
                            <a href="{% url 'etc'%}">Continue Shopping</a>
                        </div>
                    </div>
                    
                </div>
            </div>
           
                
                <div class="cart__total col-lg-4 col-md-6 col-sm-6">
                    <h6>Cart total</h6>
                    <ul>
                        <li>Subtotal <span id="total">₹{{total}}</span></li>
                        <li>Tax <span id="tax">₹{{tax}}</span></li>
                        <li>Total <span id="grand_total">₹{{grand_total}}</span></li>
                    </ul>
                    <a href="{% url 'checkout' %}" class="primary-btn">PROCEED TO CHECKOUT</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->

{% endif %}
{% endblock content %}